* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ececec;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 2rem 0;
}

.header .logo {
  width: clamp(10rem, 35vw, 25rem);
  margin-bottom: 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav a {
  font-size: 1.5rem;
  color: #030303;
  background-color: #ececec;
  text-decoration: none;
  padding: 1rem;
}

.active,
nav a:hover {
  background-color: #030303;
  color: #ececec;
}

.first {
  border-radius: 10px 0 0 10px;
}

.last {
  border-radius: 0 10px 10px 0;
}

@use "_color";
@media (min-width: 721px) {
  .menu {
    display: none;
  }
}

@media (max-width) {
  .banner {
    font-size: 0.5rem;
  }
  .footer {
    font-size: 1.5rem;
  }
  .footer p {
    font-size: 0.9rem;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav {
    display: none;
  }
  .menu {
    font-size: 1.5rem;
    color: #030303;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu.open {
    position: fixed;
    z-index: 2;
    margin-left: 2rem;
  }
  .menu.open + nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    background-color: #ecececd5;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  /* fale conosco*/
  .faleconosco {
    margin-top: 2rem;
    margin-bottom: -40rem;
  }
  .contato h1 {
    font-size: 2rem;
  }
  .lblnome {
    width: 70%;
    margin-left: 3.5rem;
  }
  .lblcel {
    width: 70%;
    margin-left: 3.5rem;
  }
  .lblemail {
    width: 70%;
    margin-left: 3.5rem;
  }
  .textoassunto {
    width: 70%;
    margin-left: 3.5rem;
  }
}

.games h1 {
  text-align: center;
}

.games .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.games .row .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28rem;
  background-color: #385170;
  padding: 2rem;
}

.games .row .card h2 {
  color: #ececec;
}

.games .row .card img {
  width: 24rem;
  margin-block: 1rem;
}

.games .row .card p {
  text-align: justify;
  font-size: 1rem;
}
/*# sourceMappingURL=consoles.css.map */