$color-white: #ececec;
$color-white-80: #ecececd5;
$color-light: #9fd3c7;
$color-light-80: #9fd3c7d5;
$color-medium: #385170;
$color-medium-80: #385170d5;
$color-dark: #030303;
$color-dark-80: #030303d5;