@import "_color";
@import "_header";
@import "_media";

.contato {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 70vw;
  margin-inline: auto;
  margin-bottom: 3rem;

  h1 {
    text-align: center;
  }

  .lblnome, .lblemail, .lblcel {
    border-radius: 4px;
    border: 1px gray solid;
    padding: .2rem;
  }

  .textoassunto {
    padding: .2rem;
  }

  [type='submit'] {
    width: 10rem;
    margin-inline: auto;
    margin-top: 3rem;
  }
}